.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.row {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #000000;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #000080;
}

p {
  font-size: 2rem;
  color: #DCAE96;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 32%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}


.rock {
  background-image: url("images/rock.png");
  background-size: 100%;
}

.paper {
  background-image: url("images/paper.png");
  background-size: 100%;
}

.scissors {
  background-image: url("images/scissors.png");
  background-size: 100%;
}

.rock1 {
  background-image: url("images/rock.png");
  background-size: 100%;
}

.paper1 {
  background-image: url("images/paper.png");
  background-size: 100%;
}

.scissors1 {
  background-image: url("images/scissors.png");
  background-size: 100%;
}

.btn,.btn1 {
  margin: 25px;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 10px solid #FAEEE0;
  border-radius: 20%;
}

/* 000080 */

.pressed {
  box-shadow: 0 0 50px #F90716;
  background-color: grey;
}
